

<div class="dashboardPage">

    <h2 class="dash-contract-title">Pedal Gym Partner Contract</h2>

    <div class="row">
        <div class="col-md-12">
            <div class="dash-box dash-box-primary">

                <div class="dash-box-heading">
                    <div class="dash-box-title">
                        Affiliate Agreement
                    </div>
                </div>

                <div class="dash-box-body">
                    <p>
                        This Affiliate Agreement (this “Agreement”) is made and entered into by and between Pedal, LLC a Delaware limited liability company (“Pedal”), and
                        {{ gymName }}
                        (“Affiliate”), as of this date You have view this on
                        {{ date }}
                        (the “Effective Date”). By executing this Agreement, the parties agree to all of the provisions hereof, including the terms and conditions set forth on the reverse side hereof, which are hereby incorporated herein by reference.
                    </p>

                    <ol>
                        <li>
                            <p>
                                <strong>Description.</strong> As further described herein, Pedal and Affiliate hereby agree that Pedal

                                shall provide a service to its customers whereby such customers pay a set price per visit or class

                                to Pedal in exchange for the right to attend and use Affiliate’s facilities (and those of any other

                                of Pedal’s affiliates) and that Pedal shall compensate Affiliate for each use of Affiliate’s

                                facilities by each Pedal customer.
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>Affiliation.</strong> Affiliate shall admit each Pedal customer bearing an official Pedal
                                identification card to Affiliate’s facilities and shall afford such customer the same access, rights,
                                and privileges to use Affiliate’s facilities as Affiliate affords to its other customers. Affiliate shall record each instance of each Pedal customer visit using such means as may be identified by Pedal from time to time.
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>Payment.</strong> By company check postmarked by the 15th day of each calendar month during the
                                Term, Pedal shall pay to Affiliate the sum owed.
                                The amount per visit is no less than 8% of the Affiliate's lowest monthly membership cost plus Pedal's city base rate and on-demand bonus.
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>Term.</strong> This Agreement shall remain in full force and effect for one month beginning on the
                                Effective Date and shall automatically renew on a month-to-month basis unless terminated
                                pursuant to this Agreement.
                            </p>
                        </li>
                    </ol>

                    <p>
                        <strong>IN WITNESS WHEREOF,</strong> Affiliate and Pedal by their authorized representatives agree to all of the provisions hereof by executing this Agreement.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="dash-box dash-box-primary">

                <div class="dash-box-heading">
                    <div class="dash-box-title">
                        Terms and Conditions
                    </div>
                </div>

                <div class="dash-box-body">
                    <ol>
                        <li>
                            <p>
                                <strong>Trademark Licenses.</strong> Affiliate hereby grants to Pedal the limited right and license to use Affiliate’s brand name, logo, and trademarks for the limited purpose of publicly promoting Affiliate as a Pedal affiliate and for no other purpose. Pedal hereby grants to Affiliate the limited right and license to use Pedal’s brand name, logo, and trademarks for the limited purpose of publicly promoting its affiliation with Pedal as
                                a Pedal Affiliate and for no other purpose.
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>Joint Agreement.</strong> The parties acknowledge and agree that this Agreement shall be treated as a “joint agreement” under Title V (privacy) of the Gramm-Leach-Bliley Act (15 U.S.C. §6801 et seq.) and regulations promulgated pursuant thereto. Neither party shall disclose or use nonpublic personal information about consumers or customers that it receives from the other party except to carry out the purposes for which the
                                disclosing party disclosed such information, which may include disclosures on the part of the receiving party pursuant to an exception to the notice and opt-out requirements established under applicable law.
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>Limitation of Liability; Disclaimer of Warranties.</strong> PEDAL SHALL BEAR NO LIABILITY TO AFFILIATE FOR ANY HARM OR DAMAGES OF ANY KIND ARISING OUT OF OR AS A RESULT OF ANY ACT OR OMISSION OF ANY THIRD PARTY, INCLUDING WITHOUT LIMITATION ANY PEDAL CUSTOMER, ANY PERSONAL INJURY, ANY LOST REVENUE OR PROFIT, ANY LOST OR DAMAGED PROPERTY, ANY OTHER COMMERCIAL OR ECONOMIC LOSS, OR FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, STATUTORY, PUNITIVE, EXEMPLARY, OR CONSEQUENTIAL DAMAGES WHATSOEVER,
                                EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES OR IF SUCH DAMAGES ARE
                                FORESEEABLE. THE PEDAL AFFILIATE PROGRAM IS MADE AVAILABLE ON AN “AS IS” BASIS ONLY AND PEDAL MAKES NO WARRANTIES, CONDITIONS, INDEMNITIES, OR
                                REPRESENTATIONS, EXPRESS OR IMPLIED, WHETHER BY STATUTE, COMMON LAW, CUSTOM,
                                USAGE, OR OTHERWISE AS TO ANY MATTERS, INCLUDING WITHOUT LIMITATATION NONINFRINGEMENT OF THIRD PARTY RIGHTS, TITLE, INTEGRATION, ACCURACY, SECURITY,
                                AVAILABILITY, SATISFACTORY QUALITY, MERCHANTABILITY, OR FITNESS FOR ANY PARTICULAR PURPOSE. AFFILIATE REMAINS SOLELY RESPONSIBLE FOR OPERATING AFFILIATE’S BUSINESS RESPONSIBLY AND FOR MAINTAINING ADEQUATE INSURANCE.
                            </p>
                        </li>
                        <li>
                            <p><strong>Indemnity.</strong> Affiliate shall indemnify, defend, and hold harmless Pedal from and against all actual and threatened third party claims, actions, damages, and losses of every kind arising in connection with any Pedal customer’s use of Affiliate’s facilities, or any act or omission of Affiliate’s or Affiliate’s personnel.</p>
                        </li>
                        <li>
                            <p><strong>Termination.</strong> This Agreement may be terminated by either party giving written notice thereof to the other party not less than 60 days prior to the intended cancellation date. This Agreement shall also be terminated in the event of either party’s breach hereof upon 30 days written notice thereof to the breaching party by the non-breaching party unless the breaching party cures such breach within the 30 day period.</p>
                        </li>
                        <li>
                            <p>
                                <strong>General.</strong> This Agreement may be amended solely by written agreement executed by both parties. This Agreement shall be governed, construed, and enforced in accordance with the laws of the State of Delaware (without regard for its conflicts of laws principles). Any disputes between the parties arising hereunder shall be heard in courts of competent jurisdiction located in Delaware. Equitable remedies shall not be
                                available in any dispute arising hereunder. If any part of this Agreement is found void or unenforceable, it will not affect the validity of the remainder of this Agreement, which shall remain valid and enforceable according to its terms. The failure of either party to exercise any right or the waiver by either party of any breach, shall not prevent a subsequent exercise of such right or be deemed a waiver of any subsequent breach of the same of any other provision hereof. This is the entire agreement between the parties relating to the Application and it supersedes any prior representations, discussions, undertakings, communications, or advertising.
                            </p>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <footer class="dashboard-footer">
        © 2016
        <a href="http://www.pedal.com">
            <strong>Pedal Holdings Inc.</strong>
        </a>
        San Francisco, CA
    </footer>

</div>