<div class="login-container">
    <div class="login-logo-container">
        <div style="padding:0;" class="row login-logo">
            <div style="margin-right:0; padding-right:0; display:inline-block;">
                <h3 style="font-weight:400;">Pedal</h3>
            </div>
            <div style="margin-left:0; padding-left:20; line-height:0; display:inline-block;">
                <div class="login-logo-icon">
                    <svg style="margin-bottom:-4px;" version="1.0" xmlns="http://www.w3.org/2000/svg" width="32.000000pt" height="32.000000pt" viewBox="0 0 300.000000 300.000000" preserveAspectRatio="xMidYMid meet">
                        <g transform="translate(0.000000,300.000000) scale(0.100000,-0.100000)" stroke-width="1px">
                            <path fill="#ffffff" stroke="#ffffff" d="M1245 2754 c-326 -46 -516 -233 -517 -509 0 -166 68 -289 292 -530
                            199 -213 267 -307 307 -425 12 -36 28 -66 35 -68 7 -1 69 6 138 16 l125 19 -3
                            33 c-5 48 -48 165 -88 236 -47 86 -152 218 -289 364 -193 206 -241 285 -232
                            379 17 162 170 221 541 208 226 -8 332 -40 384 -117 21 -30 23 -44 19 -97 l-5
                            -61 85 -52 c46 -28 99 -64 117 -81 19 -16 36 -29 39 -29 3 0 15 37 27 82 18
                            66 21 102 18 183 -3 90 -7 109 -36 167 -60 123 -184 213 -357 259 -70 19 -110
                            22 -325 25 -135 1 -258 0 -275 -2z" />
                            <path fill="#ffffff" stroke="#ffffff" d="M1379 2239 c-123 -13 -279 -59 -279 -82 0 -14 41 -67 117 -153 l63
                            -71 62 13 c255 54 528 -42 704 -248 60 -71 128 -209 149 -304 24 -104 16 -281
                            -15 -374 -85 -250 -277 -428 -530 -491 -77 -19 -259 -17 -340 4 -201 53 -385
                            204 -474 390 -115 239 -88 536 69 741 l36 48 -48 56 c-26 30 -65 78 -86 106
                            -21 28 -43 51 -50 51 -20 0 -125 -147 -171 -240 -70 -141 -114 -336 -108 -475
                            30 -660 651 -1119 1277 -944 184 51 335 143 468 284 291 310 356 752 167 1135
                            -128 260 -374 460 -650 529 -60 14 -235 37 -270 34 -8 0 -49 -4 -91 -9z" />
                        </g>
                    </svg>
                </div>
            </div>
        </div>
        <div class="row sub-title-login">
            <h5 style="font-weight:400; margin:0; font-size:16px; color:#949494;">Enter your email, we'll send a reset link.</h5>
        </div>
    </div>
    <div class="login-form-container">
        <div class="login-form">

            <form id="entry-form" ng-submit="sendResetPasswordEmail()" autocomplete="off" role="form" ng-show="!sendEmailSuccessful">
                <div class="form-group">
                    <div class="input-group login-input-group">
                        <div class="input-group-addon">
                            <i class="entypo-mail"></i>
                        </div>
                        <input class="form-control login-form-control" id="email" type="email" ng-model="email" required placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <button ng-disabled="sendingEmail" ng-show="!sendingEmail" class="btn btn-primary btn-block btn-login" type="submit">
                        <i class="entypo-paper-plane"></i>
                        Send Reset Email
                    </button>
                </div>
                <div ng-show="sendingEmail" class="loading-logo-pass">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="50.000000pt" height="50.000000pt" viewBox="0 0 300.000000 300.000000" preserveAspectRatio="xMidYMid meet">
                        <g transform="translate(0.000000,300.000000) scale(0.100000,-0.100000)" stroke-width="5px">
                            <path fill="#949494" stroke="#949494" class="Animate-Draw" id="top-of-icon" d="M1245 2754 c-326 -46 -516 -233 -517 -509 0 -166 68 -289 292 -530
                            199 -213 267 -307 307 -425 12 -36 28 -66 35 -68 7 -1 69 6 138 16 l125 19 -3
                            33 c-5 48 -48 165 -88 236 -47 86 -152 218 -289 364 -193 206 -241 285 -232
                            379 17 162 170 221 541 208 226 -8 332 -40 384 -117 21 -30 23 -44 19 -97 l-5
                            -61 85 -52 c46 -28 99 -64 117 -81 19 -16 36 -29 39 -29 3 0 15 37 27 82 18
                            66 21 102 18 183 -3 90 -7 109 -36 167 -60 123 -184 213 -357 259 -70 19 -110
                            22 -325 25 -135 1 -258 0 -275 -2z" />
                            <path fill="#949494" stroke="#949494" class="Animate-Draw" id="bottom-of-icon" d="M1379 2239 c-123 -13 -279 -59 -279 -82 0 -14 41 -67 117 -153 l63
                            -71 62 13 c255 54 528 -42 704 -248 60 -71 128 -209 149 -304 24 -104 16 -281
                            -15 -374 -85 -250 -277 -428 -530 -491 -77 -19 -259 -17 -340 4 -201 53 -385
                            204 -474 390 -115 239 -88 536 69 741 l36 48 -48 56 c-26 30 -65 78 -86 106
                            -21 28 -43 51 -50 51 -20 0 -125 -147 -171 -240 -70 -141 -114 -336 -108 -475
                            30 -660 651 -1119 1277 -944 184 51 335 143 468 284 291 310 356 752 167 1135
                            -128 260 -374 460 -650 529 -60 14 -235 37 -270 34 -8 0 -49 -4 -91 -9z" />
                        </g>
                    </svg>
                </div>

                <div class="login-errors">
                    <ul class="unstyled list-unstyled">
                        <li>{{errorMessage}}</li>
                    </ul>
                </div>

            </form>

            <div ng-show="sendEmailSuccessful" class="reset-message">
                <p>{{message}}</p>
            </div>

            <div class="login-links">
                <p>
                    <a class="login-links-link" href="/gym.html#/login">
                        <i style="vertical-align: middle;" class="entypo-login"></i>
                        Return to Login Page
                    </a>
                </p>
            </div>
      
        </div>
    </div>
</div>

<script type="text/javascript">

    $('input').focus(
        function () {
            $(this).parent('div').css('border-color', 'rgba(98, 111, 133, 0.5)');
        }).blur(
        function () {
            $(this).parent('div').css('border-color', '#373e4a');
        });

</script>