<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://go-stacktive-pedal-service-staging.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>go-stacktive-pedal-service-staging.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>go-stacktive-pedal-service__staging</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$go-stacktive-pedal-service__staging</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="AzurePhotoStorage" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=gympictures;AccountKey=9Auj55De/EY0+SehXI9q8NqxJPgZNKwIAUm9Uv6fekyLmJb6fJPqtqmKSOXbZLnLsnzFeDWhBQhpsCEBk5LPfA==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzurePhotoStorage_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=gympictures;AccountKey=9Auj55De/EY0+SehXI9q8NqxJPgZNKwIAUm9Uv6fekyLmJb6fJPqtqmKSOXbZLnLsnzFeDWhBQhpsCEBk5LPfA==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="UnivGym" Order="3" Enabled="False">
          <Destination Path="Data Source=pedaldatabase.database.windows.net,1433;Initial Catalog=UniversalGym2;Persist Security Info=True;User ID=rootadmin;Password=4vE42haKAYA" Name="Data Source=pedaldatabase.database.windows.net,1433;Initial Catalog=UniversalGym2;Persist Security Info=True;User ID=rootadmin;Password=4vE42haKAYA;MultipleActiveResultSets=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=pedaldatabase.database.windows.net,1433;Initial Catalog=UniversalGym2;Persist Security Info=True;User ID=rootadmin;Password=4vE42haKAYA" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\UnivGym_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=pedaldatabase.database.windows.net,1433;Database=UniversalGym2;persist security info=True;user id=rootadmin;password=4vE42haKAYA;MultipleActiveResultSets=True;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="UniversalGym.Data.UniversalGymEntitiesProduction" Order="7" Enabled="False" xmlns="">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="UniversalGym.Data.UniversalGymEntitiesProduction, UniversalGym.Data" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="UniversalGym.Data.UniversalGymEntities" Order="9" Enabled="False" xmlns="">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="UniversalGym.Data.UniversalGymEntities, UniversalGym.Data" Origin="" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzurePhotoStorage-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)UniversalGym.Data.UniversalGymEntities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)UniversalGym.Data.UniversalGymEntitiesProduction-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)UnivGym-Web.config Connection String">
      <ParameterValue>Data Source=pedaldatabase.database.windows.net,1433;Initial Catalog=UniversalGym2;Persist Security Info=True;User ID=rootadmin;Password=4vE42haKAYA;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="UniversalGym.Data.UniversalGymEntitiesProduction" />
  </ItemGroup>
</Project>