<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://go-stacktive-pedal-go-stacktive-pedal-staging.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>go-stacktive-pedal-go-stacktive-pedal-staging.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>go-stacktive-pedal__go-stacktive-pedal-staging</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$go-stacktive-pedal__go-stacktive-pedal-staging</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="UniversalGym.Data.UniversalGymEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="UniversalGym.Data.UniversalGymEntities, UniversalGym.Data" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="UniversalGym.Data.UniversalGymEntitiesProduction" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="UniversalGym.Data.UniversalGymEntitiesProduction, UniversalGym.Data" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)UniversalGym.Data.UniversalGymEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)UniversalGym.Data.UniversalGymEntitiesProduction-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="UniversalGym.Data.UniversalGymEntities" />
    <_ConnectionStringsToInsert Include="UniversalGym.Data.UniversalGymEntitiesProduction" />
  </ItemGroup>
</Project>